<%= form_tag missions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @missions.each do |mission| %>

<h3><%= mission.name %></h3>
  <table class="mission-detail">
    <tr>
      <td class="row-head">Hunt: </td>
        <td><%= mission.monster %></td>
    </tr>
    <tr>
        <td class="row-head">Weakness:</td>
        <td><%= mission.monster_weakness %></td>
    </tr>
    <tr>
      <td class="row-head">Rewards:</td>
      <td>
      <ol type="i">
        <li><%= mission.reward_1 %></li>
        <li><%= mission.reward_2 %></li>
        <li><%= mission.reward_3 %></li>
      </ol>
        </td>
    </tr>
    <tr>
      <td class="row-head">Breakable drops: </td>
      <td><%= mission.drop_1 %></td>
    </tr>
    <tr>
      <td class="row-head">Souls: </td>
      <td><%= mission.drop_2 %></td>
    </tr>
</table>
    <%= link_to 'Show', mission if signed_in? %>
    <%= link_to 'Edit', edit_mission_path(mission) if signed_in? %>
    <%= link_to 'Destroy', mission, method: :delete, 
                data: { confirm: 'Are you sure?' } if signed_in? %>
<p></p>
<% end.empty? %>
<p>
    all searches are case insensitive.<br /><br />
    <strong>Search for Soul Essences:</strong> "Unicorn" or "Goblin" 
    (Currently no information in database for "+" or "++").<br />
    <strong>Search for Offerings</strong>: "Flametree Root" or "Monsternip (M)". Breakables are available as well.<br /><p><p>
    We are missing information still... to help <%= link_to 'Click here', help_path %>
</p>
<% end %>
<br />
<% if signed_in? %>
  <h1>Admin Section!</h1>
  <p>
  <h2>Download:</h2>
  <%= link_to "CSV", missions_path(format: "csv") %>
  </p>

  <p>
  <h2>Import</h2>
    <%= form_tag import_missions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
    <% end %>
  </p>
  <% end %>
<script type="text/javascript">
$('.mission-detail tr').find('td:eq(1):empty').parent().hide();
  </script>