<%= form_tag missions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @missions.each do |mission| %>
  <table class="tb-missions">
    <tr class="tr-head">
        <th>
          <%= mission.name %>
        </th>
        <td>
        </td>
    </tr>
    <tr class="tr-desc1">
        <td>
          <%= mission.monster %><br />
          Weakness: <%= mission.monster_weakness %>
        </td>
      <td>1: <%= mission.reward_1 %> <br />
          2: <%= mission.reward_2 %> <br />
          3: <%= mission.reward_3 %>
      </td>
    </tr>
<tr class="tr-desc2">
      <td>  
      <ul>Breakable drops:
        <li><%= mission.drop_1 %></li>
      </ul>
      </td>
      <td>
      <ul>Souls:
        <li><%= mission.drop_2 %></li>
      </ul>
      </td>
    </tr>
</table>
    <%= link_to 'Show', mission if signed_in? %>
    <%= link_to 'Edit', edit_mission_path(mission) if signed_in? %>
    <%= link_to 'Destroy', mission, method: :delete, 
                data: { confirm: 'Are you sure?' } if signed_in? %>
<p></p>
<% end.empty? %>
<p>
  all searches are case insensitive.<br /><br />
<strong>Search for Soul Essences:</strong> "Unicorn" or "Goblin" (Currently no information in database for "+" or "++").<br />
<strong>Search for Offerings</strong>: "Flametree Root" or "Monsternip (M)". Breakables are available as well.<br />
</p>
<% end %>
<br />
<% if signed_in? %>
  <h1>Admin Section!</h1>
  <p>
  <h2>Download:</h2>
  <%= link_to "CSV", missions_path(format: "csv") %>
  </p>

  <p>
  <h2>Import</h2>
    <%= form_tag import_missions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
    <% end %>
  </p>
  <% end %>