<h1>Admin Page!</h1>

<%= form_tag missions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @missions.each do |mission| %>
  <table class="missions">
    <tr class="tr-head">
      <%= mission.name %>
    </tr>
    <tr class="tr-desc">
      <td>
        <p><%= mission.monster %> <br />
        weakness: <%= mission.monster_weakness %>
      <br />breakable drops:<li><ul><%= mission.drop_1 %></ul>
                                <ul><%= mission.drop_2 %></ul>
                             </li>
      </td>
      <td>1: <%= mission.reward_1 %> <br />
          2: <%= mission.reward_2 %> <br />
          3: <%= mission.reward_3 %>
      </td>
  </tr>
</table>
    <%= link_to 'Show', mission %>
    <%= link_to 'Edit', edit_mission_path(mission) %>
    <%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %>
<p></p>
<% end.empty? %>
  <table>
    <tr>Try searching for an Offering.</tr>
  </table>
<% end %>
<br />

<%= link_to 'New Mission', new_mission_path %>

<!-- <p>
  Download:
  <%= link_to "CSV", missions_path(format: "csv") %>
</p> -->


<p>
<h2>Import Products</h2>

<%= form_tag import_missions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</p>

